.Field {
  position: absolute;
  background: linear-gradient(to right, #25484e 1px, transparent 1px),
  linear-gradient(to bottom, #25484e 1px, transparent 1px);
  background-size: 50px 50px;
  top: 0;
  left: 0;
}

.bullet {
  position: absolute;
  background: yellow;
  border-radius: 50%;
  pointer-events: none; /* Чтобы не мешали кликам */
  z-index: 5;
}
